.SkillsContainer{
    padding: 50px 100px;
}
.SkillsTitle{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}
.SkillsCardList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}
.skillsCard{
    width: 150px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
}
.skillimg{
    width: 30%;
    height: 70%;
}